body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

a {
    display: block;
    margin-top: 15px;
    color: #337ab7;
    text-decoration: none;
}


.error {
    color: red;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    padding: 10px 10px;
    color: #fff;
    background-color: #337ab7;
}
